// $background: linear-gradient (to bottom rgb(135, 49, 49));
$background: rgb(92, 16, 16);
$material: rgba(45, 43, 43, 0.22);
$fontColor:  white;
$mobileBreakpoint: 768px;

.App {
//   background-image: url("01d.jpg");

    // background-color: rgb(73, 126, 172);
  // width: 100vw;
  // height: 100vh;
  //   background: orange;
//   background-image: url(/public/background/01d.gif);
  display: flex;
  justify-content: center;
  

//   background: url(/public/background/01d.jpg.) no-repeat center center fixed; 
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
}



.grid-container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 25% 25% 25% 1.5fr;
  grid-template-rows: 3.5rem 1fr 3rem;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header"
    "main main main sidebar"
    "footer footer footer footer";

  @media (max-width: $mobileBreakpoint) {
    min-width: 100vw;

    grid-template-areas:
      "header header header header"
      "main main main main"
      "footer footer footer footer";
  }
}

header {
  grid-area: header;
  border: solid 1px white;
  color: $fontColor;
  font-weight: 150;

    background: $material;

  text-align: center;
  .header-title {
    font-size: 1.5em;
  }
}

main {
    border: solid 1px white;
  color: $fontColor;
  grid-area: main;
  //   background: green;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .display-container {
    // background: pink;
    margin-bottom: 5rem;
    margin-left: 4rem;

    .data {
      margin-left: 1rem;
      min-width: 25ch;
    }
    .weather-data {
      display: flex;
      align-items: center;

      .temp {
        font-size: 6em;
        font-weight: 300;
      }
      .name-icon-container {
        // background: blue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // flex-direction: column;
        // justify-content: center;

        .city-name {
          margin-top: 0.5rem;
          padding: 0;
          font-size: 3em;
        }

        .icon {
          // background: rgb(128, 62, 0);
          padding: 0 1rem 0.1rem 0;
          max-width: 3rem;
          max-height: 3rem;
          min-height: 3rem;
        }
      }
      .description-date-container {
        // width: 8rem
        justify-content: space-between;
        // background: brown;
        // padding: 0 1em 0 1em;
        display: flex;
        align-items: center;

        .date-time {
          font-size: 0.8rem;
          margin-top: 0.1rem;
          font-weight: 500;
          // background: green;
        }
        .description {
          padding-left: 1rem;
          //   background: yellow;
          //   color:black;
          font-size: 1em;
        }
      }

      @media (max-width: $mobileBreakpoint) {
        flex-direction: column;
      }
    }
    @media (max-width: $mobileBreakpoint) {
      margin-bottom: 0;
      margin-left: 0;
    }
  }
  @media (min-width: 1200px) {
    min-width: 1000px;
  }
  @media (max-width: $mobileBreakpoint) {
    justify-content: flex-start;
  }
}

aside {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
      border: solid 1px white;
  color: $fontColor;
  grid-area: sidebar;
    // background: $material;
  min-width: 100px;
  @media (max-width: $mobileBreakpoint) {
    display: none;
  }

  display: flex;
  flex-direction: column;
  .search-box {
    border: solid 1px white;
    display: flex;
    // background: orange;
    max-height: 10vh;
    input {
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter:blur(30px);
      all: unset;
      color: rgb(255, 255, 255);
      font-weight: 300;
      //   background: rgb(107, 51, 82);
      padding: 2rem 0 0.5rem 2.5rem;
      width: 95%;

      // overflow: hidden;
    }

    button {
      all: unset;
      background: rgba(255, 255, 255, 0.268);
      width: 4rem;
      cursor: pointer;

      img {
        width: 3rem;
        height: 1.5rem;
        padding: 0.5rem;
      }
    }
  }

  .city-offer {
    border: solid 1px white;
    // background: rgb(78, 78, 153);
    ul {
    }
    li {
      list-style: none;
      padding: .5rem 0 .5rem 0;
      cursor: pointer;
    }
    li:nth-child(4) {
      // color: green;
      padding-bottom: 1rem;
    }
  }

  .weather-details {
    // border: solid 1px white;
    // background: rgb(107, 51, 82);
    padding: 0 2.5rem .2rem 2.5rem;
    display: flex;
    flex-direction: column;
    h3 {
      // padding-left: .6rem;
    }

    div {
      padding: 0 0 0.7rem 0;
      display: flex;
      justify-content: space-between;
    }
  }

  .next-days {
    border: solid 1px white;
    // background: rgb(169, 115, 34);
    padding: 0 2.5rem 1rem 2.5rem;
    max-height: 30vh;
    overflow: scroll;
    
    .display-days {
        // overflow: scroll;
        max-height: 10vh;
        // overflow: scroll;
      // background: pink;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid white;
      padding: 0.3rem 0.2rem 0.2rem 0;
      align-items: center;

      .display-icon-days {
        min-width: 1.5rem;
        min-height: 1.5rem;
        max-width: 2.5rem;
        max-height: 2.5rem;
      }

      .display-temp-min {
        margin-bottom: 0.3rem;
      }
    }
  }
}

footer {
  grid-area: footer;
  color: $fontColor;
    background:$material;
  border: solid 1px white;
  text-align: start;
  padding:1rem 0 0 .4rem;
}

//todo Blur effect: backdrop-blur
