$background: linear-gradient (to bottom rgba(255, 255, 255, 0.261));
$mobileBreakpoint: 768px;

.App {
  // background-color: rgb(73, 126, 172);
  // width: 100vw;
  // height: 100vh;
  background: orange;
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: 3.5rem 1fr 3rem;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header"
    "main main main sidebar"
    "footer footer footer footer";

  @media (max-width: $mobileBreakpoint) {
    min-width: 100vw;

    grid-template-areas:
      "header header header header"
      "main main main main"
      "footer footer footer footer";
  }
}

header {
  grid-area: header;
  background: $background;

  text-align: center;
  .header-title {
    font-size: 1.5em;
  }
}

main {
  grid-area: main;
  background: green;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .display-container {
    background: pink;
    margin-bottom: 5rem;
    margin-left: 4rem;

    .weather-data {
      display: flex;

      .temp {
        width: 10.5rem;
        font-size: 7em;
        font-weight: 200;
      }
      .name-date-container {
        background: blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .city-name {
          background: gray;
          margin-top: 0.5rem;
          padding: 0;
          font-size: 3em;
        }

        .date-time {
          font-size: 0.7em;
          margin-top: 0.1rem;
          background: green;
        }
      }
      .description-icon-container {
        width: 8rem;
        background: brown;
        padding: 0 1em 0 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .icon {
          background: green;
          padding:0 0 .3rem 0;
          max-width: 4rem;
          max-height: 4rem;
          min-height: 4rem;

          // margin-bottom: 0;
        //   margin-top: 0.3rem;    
        }
        .description {
          background: yellow;
          font-size: 0.8em;
        //   margin-top: 1rem;
        }
      }

      @media (max-width: $mobileBreakpoint) {
        flex-direction: column;
      }
    }
    @media (max-width: $mobileBreakpoint) {
      margin-bottom: 0;
      margin-left: 0;
    }
  }
  @media (min-width: 1200px) {
    min-width: 1000px;
  }
  @media (max-width: $mobileBreakpoint) {
    justify-content: flex-start;
  }
}

aside {
  grid-area: sidebar;
  background: red;
  min-width: 100px;
  @media (max-width: $mobileBreakpoint) {
    display: none;
  }
}

footer {
  grid-area: footer;
  background: brown;
}
